node_modules
.bun
.claude
.deploy-secrets
.turbo
.DS_Store
*.log
*.tsbuildinfo
apps/*/dist
apps/*/dist-cloud
.astro
packages/*/dist
.env
.env.local
build/
.logs/
release/
release-mock/
release.exe/
.t3
.idea/
apps/web/.playwright
apps/web/playwright-report
apps/web/src/components/__screenshots__
apps/desktop/src/embeddedAuthConfig.local.ts
.vitest-*
__screenshots__/
.tanstack
squashfs-root/
